.image1{

    height: 300px;
    width: auto;
}


.button{
    font-size: 25px;
 
}

.button, .button2{
    color: black;
}

.header{
    background-color:#A99DB7;
    height: 50px;
    display: flex;
    justify-content: space-between; 

}



.ingredients{
    background-color: #A99DB7;
}

.image2{
    height: 300px;
    width: auto;
}
.image3{
    height: 200px;
    margin-top: 40px;
}




.title{
    font-size: 90px;
    padding: 30px;
    margin-bottom: 60px;
}

.recipe{
    
    font-size: 50px;
    flex
}

.imageFridge{
    height: 250px;
}

a{
    color: black;
}

.box{
    justify-self: center;
    margin-top: 15%;
}



.container-fluid{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

}
.row{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

body{
    font-size: 20px;
    background-color: rgb(255, 255, 255);
}

footer{
    background-color: #A99DB7;
    height: 50px;
    display: flex;
    justify-content: center;
}


.stars{
    height: 50px;
}

.starry{
    display: flex;
    justify-content: center;
}


