.image1{

    height: 300px;
    width: auto;

}


.button{
    font-size: 25px;
    margin-right: 10px;
}
.button2{
    margin-left: 10px;
}

.button, .button2{
    color: black;
}

.header{
    background-color:#A99DB7;
    height: 50px;
    display: flex;
    justify-content: space-between; 

}



.ingredients{
    background-color: #A99DB7;
}

.image2{
    height: 300px;
    width: auto;
}
.image3{
    height: 200px;
    margin-top: 40px;

}

.image4{
height: 300px;
margin-top: 40px;;
}

.title{
    font-size: 90px;
    padding: 30px;
    margin-bottom: 60px;
    ;
}

.recipe{
    
    font-size: 50px;
    flex
}

.imageFridge{
    height: 250px;
    
}

a{
    color: black;
}

.box{
 
    align-items: center;
    justify-self: center;
    margin-top: 15%;
    margin-bottom: 15%;
    padding: 5%;
    background-color: #A99DB7;
}



.container-fluid{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

}
.row{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

body{
    font-size: 20px;
    background-color: rgb(255, 255, 255);
}

footer{
    background-color: #A99DB7;
    height: 50px;
    display: flex;
    justify-content: center;
}


.stars{
    height: 50px;
}

.starry{
    display: flex;
    justify-content: center;
}

p{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
     
}

main{
    margin-bottom: 80px;
}
